.venv
.history
__pycache__/
.ipynb_checkpoints
*.pyc
.DS_Store
.vscode/
outputs/
*.sqlite3
*.db
*.log
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.egg-info/
*.dat
*.backup
*.bak
*.old
*.orig

# Build artifacts
build/bin/*

*.o
*.a
*.so
bin/
CMakeFiles/

hawkingRadiation
